.search-bar{
    background: #F5F5F5;
    display: flex;
    align-items: center;
    padding: .2rem;
    border-radius: 10px;
    border: 1px solid #c7cdc6;
    gap: .5rem;
}

.search-icon-wrapper{
    width: 20px;
    height: 20px;
    margin-left: .5rem;
}

.search-input{
    flex: 1;
    background: transparent;
    border: none;
    height: 100%;
    font-size: 1.2rem;
    font-family: inherit;
    outline: none;
}

.search-input::placeholder{
    color: var(--color-gray);
}

.search-text {
    display: inline;
  }

.search-icon {
    display: none; 
    width: 1.5rem; 
    height: 1.5rem;
  }


@media (max-width: 600px) {
    .indicator-txt-wrapper{
        margin-left: 0;
        padding-left: 0px;

    }

    .btn-search{
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-icon-wrapper{
        display: none;
    }

    .search-text {
      display: none; 
    }
  
    .search-icon {
      display: inline; 
    }

    .search-input{
      padding-left: .5rem;   
    }
  }






