
.avatar-container{
    position: relative;
    width: 100%;
}

.avatar-wrapper{
    width: 200px;
    position: absolute;
    left: 10%;
    top: -60%;
}

.block-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
    gap: 4rem;
}

.heading-block{
    max-width: 600px;
}

.plant-header{
    margin-bottom: 1.5rem;
}

.coloredTxt{
    color: var(--color-secondary-green);
}

.profile-info-block{
    background-color: rgba(255, 255, 255, 0.499);
    padding: 1.2rem;
    border-radius: 10px;
}

.info-block{
    margin-bottom: 1rem;
}

.btn-container{
    margin-top: 1rem;
}

@media screen and (max-width: 900px){
    .block-top{
        flex-direction: column;
    }

}