/*--color-main-green: #284627;*/
/*--color-secondary-green: #4F814E;*/
/*--color-white: #FFFFFF;*/
/*--color-black: #4C4C4C;*/
/*--color-gray: #808080;*/
/*--color-orange: #EE671C;*/
/*--color-light-green: #E0E9DC;*/
/*--color-btn-light-green: #D7EFD6;*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
}

.logo-wrapper{
    width: 180px;
}

.nav-links{
    gap: 2.5rem;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-black);
    font-size: .9rem;
}

.nav-link:hover {
    color: var(--color-orange);
}

.nav-profile{
    display: flex;
    align-items: center;
    gap: .5rem;
}

