/*--color-main-green: #284627;*/
/*--color-secondary-green: #4F814E;*/
/*--color-white: #FFFFFF;*/
/*--color-black: #4C4C4C;*/
/*--color-gray: #808080;*/
/*--color-orange: #EE671C;*/
/*--color-light-green: #E0E9DC;*/
/*--color-btn-light-green: #D7EFD6;*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    position: relative;
}

.nav-links.active{
    background-color: var(--color-main-green);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.nav-links.active li{
    display: block;
}

.nav-logo-wrapper{
    width: 180px;
}

.nav-links{
    gap: 2.5rem;
}

.burger-menu{
    display: none;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-black);
    font-size: .9rem;
}

.nav-link:hover {
    color: var(--color-orange);
}

.nav-profile{
    display: flex;
    align-items: center;
    gap: .5rem;
}

@media screen and (max-width: 768px){

    .nav-links{
        display: none;
        flex-direction: column;
    }

    .nav-link{
        color: var(--color-white);
    }

    .userIcon{
        fill: var(--color-white);
    }

    .burger-menu{
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .burger-line{
        width: 30px;
        height: 3px;
        background-color: var(--color-main-green);
        margin: 3px;
    }
}

