.heart{
    cursor: pointer;
    transition: transform 0.2s ease;
}

.heart path{
    transition: fill 0.2s ease;
}

.heart:hover{
    transform: scale(1.2);
}

.heart path:hover{
    fill: var(--color-orange);
}

.heart.active path{
    fill: var(--color-orange);
}


/*---------*/











